<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Qiniu_Access_Key" value="JVOcyccB-N9WsH2f0nO7KY3sbacfCEt1NyxRWuU4"/>
    <add key="Qiniu_Secret_Key" value="QaF7rZJ-1xVg6Xuu7rhrbQaT3TVS87wud8HqGBRF"/>
  </appSettings>
</configuration>